/* Fonte padrão do Projeto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variavéis para estilizações */
:root {
    --bg-gray: #E8E8E8;
    --text-gray: #4A4A4A;
    --color-primary: #4D41C0;
    --white: #FFF;
    --text-light-gray: #AAAAAA;
    --star-yellow: #FFBB3A;

}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;

    display: flex;
    align-items: center;
}

a, a:hover {
    text-decoration: none;
    color: unset;
} 

nav h1 {
    font-size: 24px;
    font-weight: 700;    
}

nav a {
    font-size: 12px;
    font-weight: 400;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mandymovie-contatct-container {
    display: flex;
    align-items: center;
}

.mandymovie-contatct-container img {
    margin-right: 10px;
}

/* MAIN */

#mandymovie-list {
    padding: 40px 10px;
}

.mandymovie-card    {
    width: 100%;
}

.mandymovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.mandymovie-description {
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 190px;
    

}

.mandymovie-description h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;

}


/* AVALIAÇÕES */

.mandymovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mandymovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.mandymovie-card-description-bottom img{
    width: 22px;
}

.mandymovie-card-description-bottom p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

/* AVALIAÇÕES */

.mandymovie-btn, .mandymovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 0;


}


/* form */

.mandymovie-form-container {
    padding: 48px 0;
    max-width: 400px;
}

.mandymovie-form-description {
    background-color: var(--white);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 0 8px 8px;
}

.mandymovie-form {
    width: 100%;
}

.mandymovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.mandymovie-form-group {
    margin-bottom: 20px;
}
   

.mandymovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.mandymovie-bt-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}









