/* Fonte padrão do Projeto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variavéis para estilizações */
:root {
    --bg-gray: #E8E8E8;
    --color-primary: #4D41C0;
    --white: #FFF;

}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-gray);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;

    display: flex;
    align-items: center;
}

a, a:hover {
    text-decoration: none;
    color: unset;
} 

nav h1 {
    font-size: 24px;
    font-weight: 700;    
}

nav a {
    font-size: 12px;
    font-weight: 400;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mandymovie-contatct-container {
    display: flex;
    align-items: center;
}

.mandymovie-contatct-container img {
    margin-right: 10px;
}


